body {
  background-color: #1c2605;
}

.rating {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.item {
  /*background-color: rgb(198, 198, 198);*/
  background-color: #4e6bbf;
  -webkit-mask-image: url(star.svg);
  mask-image: url(star.svg);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.item-full {
  background-color: #d9b504;
}
